/* Accueil Styles */
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #333;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
}

/* Header Styles */
.header {
  background-color: #4a90e2;
  color: #fff;
  text-align: center;
  padding: 40px 20px;
  border-bottom: 4px solid #333;
  height: 230px;
}

.logo {
  border-radius: 20% 25% 30% 10%;
  width: 300px;
  height: 100px;
  margin-bottom: 5px;
}

.header h1 {
  margin: 5px 0;
  font-size: 1.5em;
}

.subtitle {
  font-size: 0.9em;
  font-weight: 300;
}

/* Main Content Styles */
.main-content {
  max-width: 960px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  margin-bottom: 50px;
}

.authors h2 {
  color: #4a90e2;
  margin-bottom: 20px;
}

.authors p {
  font-size: 1.1em;
  color: #555;
}

.more-info p {
  font-size: 1.2em;
  margin-top: 20px;
}

.more-info a {
  color: #4a90e2;
  text-decoration: none;
  font-weight: 600;
}

.more-info a:hover {
  text-decoration: underline;
}

/* Footer Styles */
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 4px solid #4a90e2;
}

/* Responsive Styles */
@media (max-width: 600px) {
  .header h1 {
    font-size: 2em;
  }

  .main-content {
    width: 90%;
    margin: 20px auto;
    padding: 10px;
  }

  .more-info p {
    font-size: 1em;
  }
}
