<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des CV</title>
<link href="/resources/css/styleTableau.css" rel="stylesheet">
</head>
<body>
    <h1>Liste des CV</h1>
    <div th:each="cv : ${cvs}" class="cv">
        <div class="cv-section">
            <h2>Identité</h2>
            <p><strong>Nom :</strong> <span th:text="${cv.identite.nom}">Nom</span></p>
            <p><strong>Prénom :</strong> <span th:text="${cv.identite.prenom}">Prénom</span></p>
            <p><strong>Téléphone :</strong> <span th:text="${cv.identite.tel}">Téléphone</span></p>
            <p><strong>Email :</strong> <span th:text="${cv.identite.mel}">Email</span></p>
        </div>
        
        <div class="cv-section">
            <h2>Objectif</h2>
            <p><strong>Statut :</strong> <span th:text="${cv.objectif.status}">Statut</span></p>
            <p><strong>Description :</strong> <span th:text="${cv.objectif.objectif}">Description</span></p>
        </div>
        
        <div class="cv-section">
            <h2>Profession</h2>
            <div th:each="detail : ${cv.prof.details}">
                <p><strong>Date de début :</strong> <span th:text="${detail.datedeb}">Date de début</span></p>
                <p><strong>Date de fin :</strong> <span th:text="${detail.datefin}">Date de fin</span></p>
                <p><strong>Titre :</strong> <span th:text="${detail.titre}">Titre</span></p>
            </div>
        </div>
        
        <div class="cv-section">
            <h2>Compétences</h2>
            <div th:each="diplome : ${cv.getCompetence().getDiplomes()}">
                <p><strong>Niveau :</strong> <span th:text="${diplome.niveau}">Niveau</span></p>
                <p><strong>Date :</strong> <span th:text="${diplome.date}">Date</span></p>
                <p><strong>Institut :</strong> <span th:text="${diplome.institut}">Institut</span></p>
                <p><strong>Titre :</strong> <span th:each="titre :${diplome.getTitre()}"> <span th:text="${titre.getTitre()}"></span> </span></p>
            </div>
            <div th:each="certif : ${cv.getCompetence().getCertifications()}">
                <p><strong>Date de début :</strong> <span th:text="${certif.datedeb}">Date de début</span></p>
                <p><strong>Date de fin :</strong> <span th:text="${certif.datefin}">Date de fin</span></p>
                <p><strong>Titre :</strong> <span th:text="${certif.titre}">Titre</span></p>
            </div>
        </div>
        
              
        <hr>
    </div>
</body>
</html>
