<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page introuvable</title>
    <link rel="stylesheet" href="styleNotFound.css">
</head>
<body>
    <div class="error-container">
        <h1>Oops! La page que vous cherchez est introuvable.</h1>
        <p>Désolé, la page que vous demandez n'existe pas ou a été déplacée.</p>
        <a href="/">Retour à la page d'accueil</a>
    </div>
</body>
</html>
